@tailwind base;
	@tailwind components;
	@tailwind utilities;
  @import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&display=swap');

html,
body {
  background: indigo;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.myfont{
  font-family: cursive;
}
@media only screen and (max-width: 280px) {
  .footer{
    margin-top:1px;
    font-size:18px;
    height: 50px;
  }     
  

}

