<%- include('header'); %>
<section class="home">
    <p>Login As</p>
    <div class="t-s-button">
        <a href="/teacher"><button>Teacher</button></a>
        <a href="/student"><button>Student</button></a>
    </div>
</section>