

body{
    font-family:"Lato", monospace;

}
.sidenav{
    height:100%;
    width: 0;
    position:fixed;
    
    top: 0;
    left: 0;
    background-color:rgb(253, 126, 76);
    overflow-x: hidden;
    transition:0.5s;
    padding-top: 50px;
}
.sidenav a{
    padding:10px;
    text-decoration:rgb(215, 226, 225);
    font-family:monospace;
    font: size 20px;
    color:rgb(66, 66, 66);
    display:block;
    transition:0.5s;
}
.sidenav a:hover, .offcanvas a:focus{
    color:rgb(233, 214, 214);
}
.sidenav .closebtn{
    position:absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
@media screen and(max-height:450px){
    .sidenav{padding-top:15px;}
    .sidenav a{font-size:18px;}
    
}
 