body {
    width: 100%;
    height: 100vh;
    background-color: #e0e0e0;
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
    color: #000;
    position: relative;
    overflow-x: hidden;
}

header,
footer {
    background-color: rosybrown;
}

.prettier {
    font-family: cursive;
    font-weight: bold;
}


/******************* Header ******************/

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

header img {
    width: 60px;
    height: 60px;
    vertical-align: middle;
    margin-left: 1%;
}

header a {
    text-decoration: none;
    color: #000;
}

header .login {
    vertical-align: middle;
    margin-right: 2%;
}

.line-height-1 {
    line-height: 1;
}

.common {
    padding-top: 60px;
    min-height: 100vh;
}

#logout {
    display: none;
}

footer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1% 0%;
    position: sticky;
    bottom: 0;
    z-index: 100;
}

footer a img {
    width: 20px;
    height: 20px;
}

.contact-us {
    margin-left: 2%;
}

.contact-us a {
    text-decoration: none;
    color: #000;
    font-weight: 600;
}

.social-media-icons {
    display: inline-block;
    margin-right: 2%;
}

.social-media-icons a {
    text-decoration: none;
}

.copyright {
    font-size: 10px;
    font-weight: 600;
    color: #000;
    text-align: center;
}

@media (min-width: 320px) and (max-width: 575px) {
    form .row {
        flex-wrap: nowrap;
    }
    .contactus-modal .col-sm-2 {
        max-width: 15.666667%;
    }
    .contactus-modal .col-sm-6 {
        width: 80%;
    }
}