.recipe{
    border-radius: 10px;
    box-shadow: 0px 5px 20px rgb(71,71,71);
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: white;
    min-width: 40%;
    background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);
}

.image{
    border-radius: 50%;
    /* width: 100px; */
    height: 300px;
}